<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #salaryForm="ngForm" (ngSubmit)="onSubmitSalaryForm(salaryForm.value)">
        <div class="form-group">
          <label for="title">Salary per day</label>
          <input
            type="number"
            class="form-control"
            id="salaryPerDay"
            required
            ngModel
            name="salaryPerDay"
          />
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <select
            id="country"
            class="form-control"
            [ngModel]="country"
            name="country"
            required>
            <option *ngFor="let country of countries" [value]="country.value">
              {{country.name}}
            </option>
          </select>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!salaryForm.valid"
        >
          Calculate salary
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="salary != null">Your monthly salary is {{salary}} PLN</p>
    </div>
  </div>
</div>
